<style>
a {
    color: #ff6d6d !important;
    text-decoration: none;
    background-color: transparent;
}


a:hover {
    color: #97242f !important;
}



  .timezone-item-inner2 table tr:nth-of-type(1) {
    height: 73px!important;
    background: #97242f!important;
    color: white!important;
}



.channel-item ul li a {
    font-weight: 700!important;
    font-size: 16px!important;
    text-align: center!important;
    letter-spacing: -0.03em!important;
    color: #FFFFFF!important;
    padding: 3.5px 0!important;
    background: #97242f!important;
    border-radius: 14px!important;
    display: grid !important;
    margin-bottom: 9px!important;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    height: 50px !important;
}

.scheduleg {
    background: url(../img/play.png);
    background-position: 50%;
    display: none!important;
    background-repeat: no-repeat;
}





    .timezone-item-inner2 table tr {
    height: 63px!important;
    background: #3f3f3f!important;
    text-align: center!important;
    display: revert !important;
    align-items: center!important;
    justify-content: space-between!important;
    padding-left: 32px!important;
    padding-right: 27px!important;
}



.timezone-item-inner2 table tr td {
    font-weight: 700!important;
    font-size: 11px!important;
    letter-spacing: -0.03em!important;
    color: #FFFFFF!important;
    text-align: center;
}

    a.text-danger:hover, a.text-danger:focus {
    color: #ffffff !important;
}

.text-danger {
    color: #ffffff !important;
    background: red !important;
    padding: 5px !important;
    border-radius: 6px !important;
}



a.text-danger:hover, a.text-danger:focus {
    color: #ffffff !important;
    opacity: .6 !important;
}

.header-item a img {
    max-width: 300px !important;
    margin-top: -30px !important;
}


.header-area {
    padding: 32px 15px 31px;
    background: #97242f !important;
    text-align: center;
}

#titleTxt {
    color: white;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: #282828 !important;
    color: #333333;
}


.fullScreen {
      width: 100vw;
      height: 100vh;
	  position:fixed; top:0; 
	  left:0; 
	  bottom:0; 
	  right:0; 
	  width:100%; 
	  height:100%; 
	  border:none; 
	  margin:0; 
	  padding:0;
	   overflow:hidden; 
	   z-index:999999;
   }


   

  </style>

<!DOCTYPE html>
<html lang="en-US">
	<head>

		<script type='text/javascript' src='//aversionworkingthankful.com/a9/6c/2b/a96c2b92d749c19baf91c1cddcfa4f56.js'></script>
		<!-- Meta setup -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="">
		<meta name="decription" content="">
  <title>WatchSportStreams - Boxing Streams Live, Soccer Streams Live, Live Cricket</title>


  <link rel="shortcut icon" href="https://cssjsimg2.procdncache.com/img/favicon.ico" />

 
  
		<!-- Title -->
		
		<!-- Fav Icon -->
		<link rel="icon" href="/favicon.ico" />	

		<!-- Include Bootstrap -->
		<link rel="stylesheet" href="/stylesheets/bootstrap2.css" />
		
		<!-- Main StyleSheet -->
		<link rel="stylesheet" href="/stylesheets/style2.css" />	
		
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/stylesheets/responsive2.css" />	
		
	</head>


	<body>


  

		<!-- header-area start -->	
		<header class="header-area">
			<div class="header-item">
      <a href="/"><img src="/logo.png" alt="" /></a>
			</div>
		</header>	
		<!-- header-area end -->

		<!-- content-area start -->
		<div class="content-area">
			<div class="channel-area">
				<div class="channel-item">
					<div class="channel-item-inner">
						<h2>Categories</h2>
					</div>
					<ul>
					  <!--
						<li><a href="#"><img src="images/01.png" alt="" /></a></li>
						<li><a href="#"><img src="images/02.png" alt="" /></a></li>
						<li><a href="#"><img src="images/01.png" alt="" /></a></li>
						<li><a href="#"><img src="images/03.png" alt="" /></a></li>
						<li><a href="#"><img src="images/01.png" alt="" /></a></li>
						<li><a href="#"><img src="images/02.png" alt="" /></a></li>
						<li><a href="#"><img src="images/03.png" alt="" /></a></li>
						<li><a href="#"><img src="images/01.png" alt="" /></a></li>
						<li><a href="#"><img src="images/02.png" alt="" /></a></li>
						<li><a href="#"><img src="images/03.png" alt="" /></a></li>  -->
						
		  <li><a href="/specific/live-cricket-streaming-hd-watch-online-crichd-1"> Cricket</a></li>
          <li><a href="/specific/live-football-streaming"> Football</a></li>
          <li><a href="/specific/rugby-live-streaming"> Rugby</a></li>
          <li><a href="/specific/tennis-live-streaming"> Tennis  </a></li>
          <li><a href="/specific/moto-race-formula-1-live-streaming">MotoGP/F1 </a></li>
          <li><a href="/specific/american-football-live-streaming"> NFL/American Football </a></li>
          <li><a href="/specific/wwe-live-streaming">  WWE</a></li>
          <li><a href="/specific/boxing-live-streaming"> Boxing/UFC </a></li>
          <li><a href="/specific/basketball-live-streaming"> NBA/Basketball  </a></li>
          <li><a href="/specific/baseball-live-streaming"> MLB/Baseball</a></li>
          <li><a href="/specific/golf-live-streaming"> Golf   </a></li>
          <li><a href="/specific/hockey-live-streaming"> Hockey  </a></li>
                    <li><a href="/specific/volleyball-live-streaming"> Volleyball  </a></li>
          <li><a href="/specific/cycling-live-streaming"> Cycling</a></li>
			<li><a href="/specific/darts-live-streaming"> Darts </a></li>
          <li><a href="/specific/snooker-live-streaming">  Snooker</a></li>
						
						
						
					</ul>
				</div>
			</div>
			<div class="sport-area">
				<div class="sport-item">
					<div class="sport-item-inner">
						<div>

						<p id="titleTxt">WatchSportStreams - Watch Any Sport Live Stream, Boxing Streams, Soccer Streams, Cricket Streams & Much more!</p>						</div>
						<div>
							<img src="images/04.png" alt="" />
						</div>
					</div>
					<div class="sport-item-inner2">
						<ul> 
							<li><a href="/">Home</a></li>
							<li><a href="https://discord.gg/FYJnTHRB">Discord</a></li>
						</ul>
						<div class="sport-item-inner3">
						</div>
					</div>
					<div class="sport-item-inner4">
		

						  
  <%- iframeNewHome.replace('width="640"','sandbox="allow-same-origin allow-scripts  allow-forms"  allowFullScreen') %>
  
  

  <button class="Btn" style="margin: 15px;">Fullscreen</button>				
						
						
					</div>
				</div>
			</div>
	<!--		<div class="discord-area">
				<div class="discord-item">
					<div class="discord-item-inner">
						<div class="discord-item-inner2">
							<h2><img src="images/07.png" alt="" />Discord</h2>
						</div>
						<div class="discord-item-inner3">
							<p><img src="images/08.png" alt="" />hi, good morning?</p>
							<p><img src="images/08.png" alt="" />hi, good morning?</p>			
						</div>
						<div class="discord-item-inner4">
							<a href="#">JOIN NOW</a>
						</div>
					</div>
					<div class="discord-item-inner5">
						<img src="images/09.png" alt="" />
						<div class="discord-item-inner6">
							<span>Ad</span>
						</div>
						<div class="discord-item-inner7">
							<p> 20% off at Ypcs</p>
						</div>
					</div>
					<div class="discord-item-inner8">
						<img src="images/10.png" alt="" />
					</div>
				</div>
			</div>
		</div>  -->
		<!-- content-area end -->		
		
	
		
		
		
		
		
		
		<script>
			let BtnEle = document.querySelector(".Btn");
			let frameEle = document.querySelector("iframe");
			BtnEle.addEventListener("click", () => {
			   frameEle.className = "fullScreen";
			});
		 </script>
		
	</body>
</html>